.footer-area-box-icons, .footer-area, .question-inputs, .order-right-icons, .order-right-steps-step, .order, .product-adele, .product-div, .product-list-item-link, .product-list, .sugar, .cards, .intro, .navbar-list-item-link, .navbar-list, .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-area-box, .footer, .question, .order-right-steps, .product-adele-right, .product-div-right, .product, .cards-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.order-right-title, .intro-left-title {
  font-family: "Fredoka";
  font-style: normal;
  font-weight: 700;
  font-size: 3em;
  line-height: 120.5%;
  color: #0f0101;
  opacity: 0.9;
}

.question-title, .product-adele-right-name, .product-div-right-title, .product-title, .sugar-left-title {
  font-family: "Fredoka";
  font-style: normal;
  font-weight: 600;
  font-size: 2.5em;
  line-height: 49px;
  color: #0f0101;
}

.footer-area-box-div-int, .question-inputs-div-int, .question-inputs-input, .order-right-text, .product-adele-right-nation, .product-div-right-text, .sugar-left-text, .intro-left-text {
  font-family: "Hind Madurai";
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  line-height: 27px;
  color: #0f0101;
  opacity: 0.6;
}

.order-right-steps-step-text, .cards-card-text {
  font-family: "Hind Madurai";
  font-style: normal;
  font-weight: 400;
  font-size: 0.9em;
  line-height: 24px;
  color: #0f0101;
  opacity: 0.6;
}

.footer-area-box-div-btn, .question-inputs-div-btn, .product-div-right-btn, .sugar-left-btn, .intro-left-btn, .navbar-btn {
  width: 150px;
  height: 40px;
  border-radius: 5px;
  font-family: "Hind Madurai";
  font-style: normal;
  font-weight: 500;
  font-size: 1em;
  line-height: 22px;
  border: none;
  cursor: pointer;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

header {
  width: 100%;
  background-color: #fff4f8;
}

.box1 {
  width: 100%;
  background-color: #ffffff;
}

.box2 {
  width: 100%;
  background-color: #fff4f8;
}

footer {
  width: 100%;
  background-color: #0a0808;
}

.navbar {
  width: 1200px;
  margin: auto;
}
.navbar-logo {
  width: 80px;
  height: 70px;
}
.navbar-list {
  width: 50%;
}
.navbar-list-item {
  padding: 0 10px;
  border-radius: 5px;
  transition: all 0.3s linear;
  background-image: linear-gradient(#d23166, #d23166);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% 0%;
}
.navbar-list-item:hover {
  background-size: 100% 100%;
}
.navbar-list-item:active {
  background: linear-gradient(#ffffff, #ffffff);
}
.navbar-list-item-link {
  font-size: 16px;
  font-family: "Fredoka";
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  justify-content: center;
  height: 40px;
  color: #0f0101;
  transition: all 0.3s linear;
}
.navbar-list-item-link:hover {
  color: #ffffff;
}
.navbar-list-item-link:active {
  color: #d23166;
}
.navbar-btn {
  transition: all 0.4s linear;
  background: #d23166;
}
.navbar-btn:hover {
  background: #0f0101;
  color: #ffffff;
}
.navbar-btn:active {
  background: #ffffff;
  color: #d23166;
}
.navbar-burger {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  transition: all 0.3s linear;
}
.navbar-burger div {
  width: 25px;
  height: 3px;
  background-color: #0a0808;
}
.navbar-burger:hover div {
  background-color: #d23166;
}

@media (max-width: 1200px) {
  .navbar {
    padding: 0px 10px;
    width: 100%;
  }
  .navbar-list {
    display: none;
  }
  .navbar-btn {
    display: none;
  }
  .navbar-burger {
    display: flex;
  }
}
.intro {
  padding: 0px 10px;
  width: 1200px;
  margin: 50px auto;
}
.intro-left {
  width: 50%;
}
.intro-left-subtitle {
  font-size: 14px;
  font-family: "Fredoka";
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  width: 100%;
}
.intro-left-title {
  width: 100%;
  margin: 30px 0px;
}
.intro-left-title span {
  color: #d23166;
}
.intro-left-text {
  width: 80%;
}
.intro-left-btn {
  margin-top: 30px;
  transition: all 0.4s linear;
  background: #d23166;
}
.intro-left-btn:hover {
  background: #0f0101;
  color: #ffffff;
}
.intro-left-btn:active {
  background: #ffffff;
  color: #d23166;
}
.intro-right {
  width: 50%;
}
.intro-right img {
  width: 100%;
}

@media (max-width: 1200px) {
  .intro {
    width: 100%;
    flex-wrap: wrap;
  }
  .intro-left {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .intro-left-text {
    width: 100%;
  }
  .intro-right {
    width: 100%;
  }
}
.cards {
  width: 1200px;
  margin: 50px auto;
}
.cards-card {
  padding: 20px;
  width: 230px;
  height: 200px;
  text-align: center;
  gap: 20px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
  border-radius: 8px;
  transition: all 0.4s linear;
}
.cards-card:hover {
  box-shadow: #d23166 0px 20px 30px -10px;
}
.cards-card:active {
  background-color: #fff4f8;
}
.cards-card-img {
  height: 40px;
  width: 40px;
}
.cards-card-title {
  font-size: 1.2em;
  font-family: "Fredoka";
  font-weight: 500;
  font-style: normal;
  line-height: normal;
}
@media (max-width: 1200px) {
  .cards {
    width: 100%;
    padding: 0px 10px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
  }
}
.sugar {
  padding: 0px 10px;
  width: 1200px;
  margin: auto;
}
.sugar-left {
  width: 50%;
}
.sugar-left-title {
  width: 60%;
}
.sugar-left-text {
  margin: 30px auto;
}
.sugar-left-btn {
  background-color: #d23166;
  transition: all 0.3s linear;
}
.sugar-left-btn:hover {
  background: #0f0101;
  color: #ffffff;
}
.sugar-left-btn:active {
  background: #ffffff;
  color: #d23166;
}
.sugar-right {
  width: 50%;
}
.sugar-right img {
  width: 80%;
  height: 450px;
}

@media (max-width: 1200px) {
  .sugar {
    width: 100%;
    flex-wrap: wrap;
    padding: 50px 10px;
  }
  .sugar-left {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .sugar-right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .sugar-right img {
    width: 400px;
  }
}
.product {
  margin: auto;
  width: 1200px;
  padding: 50px 10px;
  gap: 30px;
}
.product-list {
  width: 50%;
}
.product-list-item {
  padding: 0 10px;
  border-radius: 5px;
  transition: all 0.3s linear;
  background-image: linear-gradient(#d23166, #d23166);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% 0%;
}
.product-list-item:hover {
  background-size: 100% 100%;
}
.product-list-item:active {
  background: linear-gradient(#ffffff, #ffffff);
}
.product-list-item-link {
  font-size: 16px;
  font-family: "Fredoka";
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  justify-content: center;
  height: 40px;
  color: #0f0101;
  transition: all 0.3s linear;
}
.product-list-item-link:hover {
  color: #ffffff;
}
.product-list-item-link:active {
  color: #d23166;
}
.product-div-left {
  width: 50%;
}
.product-div-left img {
  width: 100%;
}
.product-div-right {
  padding-left: 50px;
  width: 50%;
  align-items: flex-start;
  gap: 20px;
}
.product-div-right-title {
  font-size: 1.5em;
}
.product-div-right span:nth-child(1) {
  font-weight: 600;
  font-size: 1.5em;
  font-family: "Hind Madurai";
  margin-right: 10px;
}
.product-div-right span:nth-child(2) {
  font-size: 1.2em;
  font-family: "Hind Madurai";
  text-decoration: line-through;
}
.product-div-right-btn {
  transition: all 0.4s linear;
  background: #d23166;
}
.product-div-right-btn:hover {
  background: #0f0101;
  color: #ffffff;
}
.product-div-right-btn:active {
  background: #fff4f8;
  color: #d23166;
}
.product-div:nth-child(2n) {
  flex-direction: row-reverse;
}
.product-div:nth-child(2n) div {
  padding-right: 50px;
  align-items: flex-end;
  text-align: right;
}
.product-adele-left {
  width: 30%;
}
.product-adele-right {
  width: 70%;
  height: 65px;
}
.product-adele-right-name {
  align-self: flex-start;
  font-size: 1.2em;
  line-height: normal;
}
.product-adele-right-nation {
  align-self: flex-start;
  text-align: left;
  font-size: 0.7em;
  line-height: normal;
  opacity: 0.9;
}

@media (max-width: 1200px) {
  .product {
    width: 100%;
  }
  .product-list {
    flex-direction: column;
    width: 100%;
  }
  .product-div {
    flex-wrap: wrap;
  }
  .product-div-right {
    width: 100%;
    padding: 50px 10px;
    align-items: center;
    text-align: center;
  }
  .product-div-right-text {
    width: 90%;
  }
  .product-div-left {
    width: 100%;
  }
  .product-div-left img {
    width: 100%;
    max-width: 420px;
    height: auto;
    margin: 0 auto;
    display: block;
  }
  .product-div:nth-child(2n) div {
    align-items: center;
    text-align: center;
    padding-right: 10px;
  }
  .product-adele {
    width: 40%;
    flex-direction: column;
    min-width: 350px;
  }
  .product-adele-right {
    text-align: center;
  }
  .product-adele-right-name {
    align-self: center;
  }
  .product-adele-right-nation {
    align-self: center;
  }
  .adele-img {
    width: 70px !important;
    height: 70px;
  }
}
.order {
  width: 1200px;
  margin: auto;
  padding: 50px 10px;
}
.order-left {
  width: 50%;
}
.order-left img {
  width: 70%;
  border-radius: 30px;
}
.order-right {
  width: 50%;
}
.order-right-title {
  font-weight: 500;
}
.order-right-text {
  margin: 20px 0px;
}
.order-right-steps {
  align-items: flex-start;
  gap: 20px;
}
.order-right-steps-step {
  justify-content: flex-start;
  gap: 10px;
  width: 200px;
  padding: 5px 10px;
  transition: all 0.3s linear;
  background-image: linear-gradient(#d23166, #d23166);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% 0%;
  border-radius: 5px;
  cursor: pointer;
}
.order-right-steps-step:hover {
  background-size: 100% 100%;
}
.order-right-steps-step:hover i {
  transition: all 0.3s linear;
  color: #ffffff;
}
.order-right-steps-step:active {
  background: linear-gradient(#ffffff, #ffffff);
}
.order-right-steps-step:active i {
  color: #d23166;
}
.order-right-steps-step i {
  font-size: 25px;
  color: #d23166;
}
.order-right-steps-step-text {
  opacity: 1;
}
.order-right-icons {
  gap: 20px;
  padding: 5px 10px;
  width: 200px;
  margin-top: 20px;
}
.order-right-icons i {
  font-size: 30px;
  color: #d23166;
  padding: 10px 20px;
  background-color: #0f0101;
  border-radius: 5px;
  transition: all 0.3s linear;
  cursor: pointer;
}
.order-right-icons i:hover {
  color: #0f0101;
  background-color: #d23166;
}
.order-right-icons i:active {
  color: #fff4f8;
}

@media (max-width: 1200px) {
  .order {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  .order-left {
    width: 100%;
  }
  .order-left img {
    max-width: 300px;
    height: 600px;
  }
  .order-right {
    margin-top: 50px;
    width: 100%;
  }
  .order-right-steps {
    justify-self: center;
  }
  .order-right-icons {
    justify-self: center;
  }
}
.question {
  width: 1200px;
  margin: auto;
  padding: 50px 10px;
  gap: 50px;
}
.question-title {
  text-align: center;
  font-weight: 500;
}
.question-inputs {
  width: 70%;
  gap: 50px;
  flex-wrap: wrap;
}
.question-inputs-input {
  width: 350px;
  height: 60px;
  border-radius: 5px;
  border: 2px solid #d23166;
  padding: 0px 20px;
  outline: none;
}
.question-inputs-div {
  border: 2px solid #d23166;
  border-radius: 5px;
}
.question-inputs-div-int {
  width: 665px;
  height: 60px;
  padding: 0px 20px;
  outline: none;
  border: none;
}
.question-inputs-div-btn {
  height: 60px;
  background-color: #d23166;
  transition: all 0.4s linear;
}
.question-inputs-div-btn:hover {
  background: #0f0101;
  color: #ffffff;
}
.question-inputs-div-btn:active {
  background: #fff4f8;
  color: #d23166;
}

@media (max-width: 1200px) {
  .question {
    width: 100%;
  }
  .question-title {
    width: 100%;
  }
  .question-inputs {
    width: 100%;
    justify-content: center;
  }
  .question-inputs-input {
    max-width: 500px;
    width: 100%;
  }
  .question-inputs-div {
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .question-inputs-div-int {
    width: 100%;
  }
  .question-inputs-div-btn {
    width: 100%;
  }
}
.footer {
  width: 1200px;
  margin: auto;
  padding: 50px 10px;
}
.footer-img {
  align-self: flex-start;
}
.footer-area {
  gap: 20px;
}
.footer-area-box {
  width: 280px;
  gap: 30px;
  height: 250px;
}
.footer-area-box-text {
  font-size: 14px;
  font-family: "Fredoka";
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  color: #ffffff;
}
.footer-area-box-icons {
  align-self: flex-start;
  gap: 10px;
}
.footer-area-box-icons i {
  color: #ffffff;
  font-size: 25px;
  transition: all 0.3s linear;
  cursor: pointer;
}
.footer-area-box-icons i:hover {
  color: #d23166;
}
.footer-area-box-list-item-link {
  font-size: 16px;
  font-family: "Hind Madurai";
  font-weight: 600;
  font-style: normal;
  line-height: 30px;
  color: #ffffff;
  font-weight: 400;
  transition: all 0.3s linear;
  opacity: 0.6;
}
.footer-area-box-list-item-link:hover {
  color: #d23166;
  opacity: 1;
}
.footer-area-box-list-item-link:active {
  color: #d23166;
}
.footer-area-box span {
  font-size: 14px;
  font-family: "Fredoka";
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  color: #ffffff;
}
.footer-area-box-div {
  border: 2px solid #d23166;
  border-radius: 5px;
  display: flex;
}
.footer-area-box-div-int {
  width: 190px;
  height: 40px;
  padding: 0px 20px;
  outline: none;
  border: none;
  color: #ffffff;
  background: transparent;
}
.footer-area-box-div-btn {
  width: 80px;
  height: 40px;
  background-color: #d23166;
  transition: all 0.4s linear;
}
.footer-area-box-div-btn:hover {
  background: #ffffff;
  color: #d23166;
}
.footer-area-box-div-btn:active {
  background: #ffffff;
  color: #fff4f8;
}
.footer-area-box-div-icons {
  gap: 10px;
}
.footer-area-box-div-icons i {
  color: #ffffff;
  font-size: 35px;
  transition: all 0.3s linear;
  cursor: pointer;
}
.footer-area-box-div-icons i:hover {
  color: #d23166;
}
.footer-area-box:nth-child(4), .footer-area-box:first-child {
  align-items: flex-start;
  gap: 40px;
}

@media (max-width: 1200px) {
  .footer {
    width: 100%;
    justify-content: center;
    text-align: center;
  }
  .footer-img {
    width: 100%;
  }
  .footer-area {
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }
  .footer-area-box {
    width: 100%;
  }
  .footer-area-box-text {
    align-self: center;
    width: 100%;
  }
  .footer-area-box-icons {
    align-self: center;
  }
  .footer-area-box-div {
    align-self: center;
  }
  .footer-area-box span {
    align-self: center;
  }
  .footer-area-box:nth-child(4) {
    align-self: center;
  }
}/*# sourceMappingURL=style.css.map */